.bizCSWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 100px;
  right: var(--g-normal-padding);
  width: 50px;
  height: 50px;
  background: var(--g-main-lg-bg);
  border-radius: 50%;
  z-index: 1000;
}

.bizCSImg {
  width: 26px;
  height: 26px;
}
