.bizNotesHeaderWrap {
  position: fixed;
  width: 100vw;
  height: 56px;
  top: 0;
  left: 0;
  padding: 16px;
  background-color: var(--g-main-bg-color);
  box-shadow: 0px 2px 10px #fff;
  z-index: 100;
}

.bizNotesHeaderPlaceholder {
  position: relative;
  width: 100vw;
  height: 56px;
  z-index: 99;
}

.bizNotesHeaderLeft {
  position: absolute;
  /* 40 = 16 + 24 */
  width: 40px;
  height: 56px;
  top: 0;
  left: 0;
}

.bizNotesHeaderLeftIcon {
  position: relative;
  margin-top: 16px;
  margin-left: 16px;
}

.bizNotesHeaderMiddleTitle {
  position: absolute;
  /* 104px = 16 + 24 + 12 + 12 + 24 + 16 */
  width: calc(100vw - 104px);
  height: 24px;
  top: 16px;
  left: 50%;
  color: var(--g-text-black-color);
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  transform: translateX(-50%);
  /* background-color: rgba(255, 0, 0, 0.1); */
}
